.hero-container {
  margin-top: 5rem;
}

.hero-container h1 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  background-color: var(--secondary);
  background-image: linear-gradient(45deg, var(--secondary), var(--primary));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-get-started {
  margin-top: 50px;
}

.hero-get-started .btn {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  width: 130px;
  /* background: linear-gradient(45deg, #f3ec78, #af4261); */
  background-color: var(--secondary);
  /* border: 0px solid transparent; */
  border: 1px solid var(--dark);

  border: 1px solid var(--primary);
}

.hero-get-started .btn:hover {
  color: var(--white);
}

.hero-get-started .login {
  margin-left: 1rem;
}

@media (min-width: 900px) {
  .hero-container h1 {
    font-size: 40px;
  }
}

@media (min-width: 600px) {
  .hero-container h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
