.smiley-container {
  display: flex;
  flex-direction: column;
}

.smiley-container .smiley {
  font-size: 30px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.smiley-count {
  color: var(--primary);
}

.select-smiley-container {
  display: flex;
  justify-content: space-around;
}

.select-smiley-container .smiley {
  font-size: 40px;
  cursor: pointer;
}

.selected-smiley.smiley {
  font-size: 90px !important;
}
