.navbar {
  /* border-bottom: 2px solid var(--primary); */
  background-color: var(--secondary);
  /* background-image: linear-gradient(45deg, var(--primary), var(--secondary)); */
}

.navbar .brand-logo {
  color: var(--primary);
  font-size: 17px;
  font-weight: 800;
  color: var(--primary);
}

.navbar .login-btn {
  color: var(--secondary);
  display: none;
  font-weight: 800;
  background-color: var(--primary);
}

@media (min-width: 600px) {
  .navbar .brand-logo {
    font-size: 45px;
    font-size: 30px;
  }
}
