@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins";
}

* {
  font-family: "Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #f3ec78;
  --secondary: rgba(68.6, 25.9, 38, 0.9);
  --secondary-1: rgba(68.6, 25.9, 38, 0.9);
  --secondary-2: #af4261;
  --dark: #111827;
  --white: #ffffff;
  --dark-2: #333333;
}

.auth-form button {
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 800;
  font-size: 24px;
  border: 1px solid var(--primary);
}

button:hover,
.btn:hover {
  opacity: 0.9;
}
