.smiley-container {
  display: flex;
  justify-content: space-around;
}

.smiley-container button {
  background-color: var(--secondary);
  margin-bottom: 2rem;
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin: 0 1rem;
}

.smiley-container .smiley {
  font-size: 17px;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  border: 1px solid var(--primary);
}

.smiley-container .smiley.active {
  border: 1px solid var(--primary);
  opacity: 1;
}

.smiley-count {
  color: var(--primary);
}

.select-smiley-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-smiley-container .smiley {
  font-size: 40px;
  cursor: pointer;
}

.selected-smiley.smiley {
  font-size: 45px;
  opacity: 1;
}

.unselected-smiley.smiley {
  opacity: 0.4;
}

.feedback-success {
  height: 100%;
  background: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20vh;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary);
  z-index: 777;
  padding-top: 50px;
}

.feedback-success p.btn:hover {
  z-index: 9999999999;
}

@media (min-width: 900px) {
  .smiley-container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }

  .smiley-container button {
    padding: 6px 12px;
  }

  .smiley-container .smiley {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    font-size: 30px;
  }
}
